#full{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container{
  flex:0 0 auto;
}
.login > nav > input,.URI > nav > input {
  display: block;
  padding: 1em;
  width:20em;
  text-align: center;
}

#error{
  background-color: #c0392b;
  color:white;
}

#waiting{
  background-color: #2c3e50;
  color:white;
}

#success{
  background-color:#27ae60;
  color:white;
}

#error > p, #waiting > p, #success > p{
  margin:1em;
}
