#full{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#container{
  flex:0 0 auto;
}
.login > nav > input,.URI > nav > input {
  display: block;
  padding: 1em;
  width:20em;
  text-align: center;
}

#error{
  background-color: #c0392b;
}

#waiting{
  background-color: #2c3e50;
}

#success{
  background-color:#27ae60;
}
#cta{
  background-color: #7f8c8d;
  margin-top:2em;
  cursor: pointer;
  text-align: center;
}
.message{
  color:white;
  margin-bottom: 2em;
}
#error > p, #waiting > p, #success > p, #cta > p{
  margin:1em;
  width: 20em;
}


.newStuff{
  background-color: #27ae60;
  color:white;
  padding:0.5em;
  margin:0.5em 0;
  list-style: none;
  cursor:pointer;
}



h2, h1{
  margin: 0.5em 0;
  text-align: center;
  font-weight: bold;
}
h1{
  font-size: 1.3em;
}


.entity .translation .lang {
  list-style: disc;
  cursor:pointer;
}
.entity li:not(.text) {
  text-align: center;
}
.entity .translation .lang:not(:first-child){
  margin-top : 0.5em;
}
.entity .translation .text{
  display:none;
}
