/* Global */

.flexSpacer{
  flex:1 1 auto;
}

.clickMe {
  cursor: pointer;
}


/* Top Nav */
header#topNav{
  background-color: #366870;
  color:white;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
header#topNav > p {
  flex:0 0 auto;
  padding:1em;
}

/* main structure*/
main {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height:calc(100vh - 50px);
}
main > section{
  flex:0 0 25%;
}
main > section#entities{
  max-width: 250px;
}
main > section#action{
  flex:1 1 50%;
}

/* header section */
main > section > header > h1{
  padding:1em;
  font-weight: bold;
  text-align: center;
  color:white;
  background-color: #558187;
  border-bottom: 1px solid #558187;
  border-right: 1px solid #558187;
}

/* Nav section */
main > section > nav > article > p {
  text-align: center;
  background-color: #81A1A6;
  padding: 1em;
  color:white;
  border-bottom: 1px solid #558187;
  border-right: 1px solid #558187;
}
main > section > nav > article > input {
  display:block;
  text-align: left;
  background-color: #e3ebec;
  padding: 1em;
  width:100%;
  border: 0;
  border-bottom: 1px solid #558187;
  border-right: 1px solid #558187;
}


main > section > section > article{
    padding:1em;
    text-align: left;
    border-right: 1px solid #558187;
    border-bottom: 1px solid #558187;
}

/* entities quick select */
#entities > section > article.hidden{
  display:none;
}
