/* Global */

.flexSpacer{
  flex:1 1 auto;
}

/* Top Nav */
header#topNav{
  background-color: #366870;
  color:white;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
header#topNav > p {
  flex:0 0 auto;
  padding:1em;
}

/* main structure*/
main {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height:calc(100vh - 50px);
}
main > section{
  flex:0 0 25%;
}
main > section > header > h1{
  padding:1em;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
}
main > section > section > article{
    padding:1em;
    text-align: left;
    border-right: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}
